In [ ]:
#import libraries
import numpy as numpy
import pandas as pd

In [ ]:
# read data from dataset into dataframe
df = pd.read_csv('world-population-by-country-2020.csv')

In [ ]:
# display first 5 rows
df.head()

,no,Country (or dependency),Population 2020,Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,"1,439,323,776",0.39%,"5,540,090",153,"9,388,211","-348,399",1.7,38,61%,18.47%
1,2,India,"1,380,004,385",0.99%,"13,586,631",464,"2,973,190","-532,687",2.2,28,35%,17.70%
2,3,United States,"331,002,651",0.59%,"1,937,734",36,"9,147,420","954,806",1.8,38,83%,4.25%
3,4,Indonesia,"273,523,615",1.07%,"2,898,047",151,"1,811,570","-98,955",2.3,30,56%,3.51%
4,5,Pakistan,"220,892,340",2.00%,"4,327,022",287,"770,880","-233,379",3.6,23,35%,2.83%

In [ ]:
# get information about dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   no                       235 non-null    int64
 1   Country (or dependency)  235 non-null    object
 2   Population 2020          235 non-null    object
 3   Yearly Change            235 non-null    object
 4   Net Change               235 non-null    object
 5   Density  (P/Km²)         235 non-null    object
 6   Land Area (Km²)          235 non-null    object
 7   Migrants (net)           201 non-null    object
 8   Fert. Rate               235 non-null    object
 9   Med. Age                 235 non-null    object
 10  Urban Pop %              235 non-null    object
 11  World Share              235 non-null    object
dtypes: int64(1), object(11)
memory usage: 22.2+ KB

In [ ]:
# data reduction
# remove/reduce unnecessary attributes from dataframe
subset = df[['no','Country (or dependency)','Population 2020','Yearly Change','Net Change','Migrants (net)']]
subset.head()

,no,Country (or dependency),Population 2020,Yearly Change,Net Change,Migrants (net)
0,1,China,"1,439,323,776",0.39%,"5,540,090","-348,399"
1,2,India,"1,380,004,385",0.99%,"13,586,631","-532,687"
2,3,United States,"331,002,651",0.59%,"1,937,734","954,806"
3,4,Indonesia,"273,523,615",1.07%,"2,898,047","-98,955"
4,5,Pakistan,"220,892,340",2.00%,"4,327,022","-233,379"

In [ ]:
# data cleaning 
# find missing values
subset.isnull().sum()

no                          0
Country (or dependency)     0
Population 2020             0
Yearly Change               0
Net Change                  0
Migrants (net)             34
dtype: int64

In [ ]:
# cleaning the null data
subset.dropna(inplace=True)
subset.isnull().sum()

no                         0
Country (or dependency)    0
Population 2020            0
Yearly Change              0
Net Change                 0
Migrants (net)             0
dtype: int64

In [ ]:
subset2 = df[['Net Change','Yearly Change']]
subset2.head()

   Net Change Yearly Change
0   5,540,090         0.39%
1  13,586,631         0.99%
2   1,937,734         0.59%
3   2,898,047         1.07%
4   4,327,022         2.00%

In [ ]:
# data integration
subset3 = pd.merge(subset, subset2, on='Yearly Change')
subset3.head()

,no,Country (or dependency),Population 2020,Yearly Change,Net Change_x,Net Change_y
0,1,China,"1,439,323,776",0.39%,"5,540,090","5,540,090"
1,2,India,"1,380,004,385",0.99%,"13,586,631","13,586,631"
2,3,United States,"331,002,651",0.59%,"1,937,734","1,937,734"
3,4,Indonesia,"273,523,615",1.07%,"2,898,047","2,898,047"
4,5,Pakistan,"220,892,340",2.00%,"4,327,022","4,327,022"

In [ ]:
# data transformation
subset3.to_excel('World_Population.xlsx')